html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-m-center {
  justify-content: center;
}

.f-c-center {
  align-items: center;
}